type mtk_anrmanager_service, system_server_service, app_api_service, service_manager_type;
type mtk_appdetection_service, system_server_service, app_api_service, service_manager_type;
type mtk_autoboot_service, system_server_service, app_api_service, service_manager_type;
type mtk_carrierexpress_service, app_api_service, service_manager_type;
type mtk_data_shaping_service, system_server_service, app_api_service, service_manager_type;
type mtk_duraspeed_service, system_server_service, app_api_service, service_manager_type;
type mtk_epdg_service, system_server_service, app_api_service, service_manager_type;
type mtk_fm_radio_service, system_server_service, app_api_service, service_manager_type;
type mtk_fullscreen_switch_service, system_server_service, app_api_service, service_manager_type;
type mtk_gwsd_service, service_manager_type;
type mtk_hdmi_service, service_manager_type;
type mtk_mobile_service, system_server_service, app_api_service, service_manager_type;
type mtk_msg_monitor_service, system_server_service, app_api_service, service_manager_type;
type mtk_omadm_service, system_server_service, app_api_service, service_manager_type;
type mtk_perf_service, system_server_service, app_api_service, service_manager_type;
type mtk_phonesubinfo_service, app_api_service, service_manager_type;
type mtk_power_hal_mgr_service, system_server_service, app_api_service, service_manager_type;
type mtk_presence_service, service_manager_type;
type mtk_radio_service, service_manager_type;
type mtk_registry_service, app_api_service, service_manager_type;
type mtk_rns_service, system_server_service, app_api_service, service_manager_type;
type mtk_search_engine_service, system_server_service, app_api_service, service_manager_type;
type mtk_simphonebook_service, app_api_service, service_manager_type;
type mtk_telecom_service, system_server_service, app_api_service, service_manager_type;
type mtk_vowbridge_service, system_server_service, app_api_service, service_manager_type;
