type aal, domain, binderservicedomain, coredomain;
type aal_exec, file_type, exec_type, system_file_type;
type mtk_aal_prop, property_type, extended_core_property_type;
type aal_service, service_manager_type;

init_daemon_domain(aal);
binder_use(aal);
binder_call(aal,binderservicedomain);

allow aal graphics_device:chr_file {ioctl read open};
allow aal graphics_device:dir {search};
allow aal aal_service:service_manager {add};
allow aal permission_service:service_manager {find};
allow aal sensorservice_service:service_manager {find};
allow aal system_server:unix_stream_socket {read write};
allow aal property_socket:sock_file {write};
allow aal init:unix_stream_socket {connectto};
allow aal mtk_aal_prop:property_service {set};
allow aal mtk_aal_prop:file {read getattr map open};
