type aee_aed_exec, file_type, exec_type, system_file_type;

init_daemon_domain(aee_aed);

type_transition aee_aed dumpstate_exec:process dumpstate;

allow aee_aed block_device:dir {search};
allow aee_aed sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow aee_aed sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow aee_aed anr_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow aee_aed anr_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow aee_aed domain:process {sigkill signal getsched getattr};
allow aee_aed domain:lnk_file {getattr};
allow aee_aed usermodehelper:file {ioctl read getattr lock map open};
allow aee_aed system_file:file {execute_no_trans};
allow aee_aed init:process {getsched};
allow aee_aed kernel:process {getsched};
allow aee_aed system_data_file:dir {write create add_name};
allow aee_aed system_data_file:file {ioctl read getattr lock map open};
allow aee_aed toolbox_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow aee_aed mnt_user_file:dir {search};
allow aee_aed mnt_user_file:lnk_file {read};
allow aee_aed storage_file:dir {search};
allow aee_aed storage_file:lnk_file {read};
allow aee_aed dumpstate_exec:file {read getattr map execute open};
allow aee_aed dumpstate:process {transition};
dontaudit aee_aed dumpstate:process {noatsecure};
allow aee_aed dumpstate:process {siginh rlimitinh};
allow aee_aed tombstone_data_file:dir {write lock add_name remove_name search open};
allow aee_aed tombstone_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow aee_aed self:capability {chown fowner fsetid kill setgid setuid net_admin sys_module sys_nice sys_resource};
allow aee_aed shell_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow aee_aed dumpstate:unix_stream_socket {ioctl read write};
allow aee_aed dumpstate:dir {search};
allow aee_aed dumpstate:file {ioctl read getattr lock map open};
allow aee_aed logdr_socket:sock_file {write};
allow aee_aed logd:unix_stream_socket {connectto};
allow aee_aed sysfs_vibrator:file {write lock append map open};
allow aee_aed domain:dir {ioctl read getattr lock search open};
allow aee_aed domain:file {ioctl read getattr lock map open};
allow aee_aed domain:lnk_file {ioctl read getattr lock map open};
allow aee_aed dalvikcache_data_file:dir {ioctl read getattr lock search open};
allow aee_aed crash_dump:dir {search};
allow aee_aed crash_dump:file {ioctl read getattr lock map open};
allow aee_aed proc_version:file {read open};
allow aee_aed self:capability {chown fowner kill sys_nice};
allow aee_aed dropbox_data_file:file {read getattr};
allow aee_aed dropbox_service:service_manager {find};
allow aee_aed servicemanager:binder {call};
allow aee_aed system_server:binder {call};
allow aee_aed packages_list_file:file {ioctl read getattr lock map open};
allow aee_aed system_file_type:file {ioctl read getattr lock map open};
allow aee_aed self:process {ptrace};
