type atci_service_sys_exec, file_type, exec_type, system_file_type;
type atci_data_file, file_type, data_file_type, core_data_file_type;
type ctl_atci_service_prop, property_type, extended_core_property_type;
type mtk_atci_sys_prop, property_type, extended_core_property_type;

init_daemon_domain(atci_service_sys);
