allow audioserver radio:dir {read search};
allow audioserver radio:file {ioctl read getattr lock map open};
allow audioserver radio_data_file:dir {search};
allow audioserver radio_data_file:file {open};
allow audioserver kmsg_device:chr_file {write open};
allow audioserver bootanim:binder {call transfer};
allow audioserver media_rw_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow audioserver media_rw_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow audioserver mnt_user_file:dir {read write search};
allow audioserver mnt_user_file:lnk_file {read write};
allow audioserver mtkbootanimation:binder {call transfer};
allow audioserver sdcard_type:dir {remove_name};
allow audioserver sdcard_type:dir {write create lock add_name remove_name search open};
allow audioserver sdcard_type:file {append};
allow audioserver sdcard_type:file {create};
allow audioserver sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow audioserver sdcard_type:file {unlink};
allow audioserver self:netlink_kobject_uevent_socket {read create};
allow audioserver storage_file:dir {ioctl read getattr lock search open};
allow audioserver storage_file:lnk_file {read write};
allow audioserver system_data_file:file {open};
allow audioserver untrusted_app:dir {search};
