type batterywarning, domain, coredomain;
type batterywarning_exec, file_type, exec_type, system_file_type;

init_daemon_domain(batterywarning);
binder_use(batterywarning);

allow batterywarning system_server:binder {call};
allow batterywarning activity_service:service_manager {find};
allow batterywarning sysfs_battery_warning:file {read getattr open};
allow batterywarning self:netlink_kobject_uevent_socket {read write create getattr setattr lock append map bind connect getopt setopt shutdown};
