allow bluetooth debuglog_data_file:dir {ioctl read write create getattr setattr lock relabelto rename add_name remove_name reparent search rmdir open};
allow bluetooth debuglog_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow bluetooth fuse:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow bluetooth fuse:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow bluetooth media_rw_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow bluetooth media_rw_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow bluetooth mnt_media_rw_file:dir {search};
allow bluetooth mnt_user_file:dir {search};
allow bluetooth mnt_user_file:lnk_file {read};
allow bluetooth rootfs:lnk_file {getattr};
allow bluetooth sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow bluetooth sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow bluetooth sdcardfs:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow bluetooth sdcardfs:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow bluetooth storage_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow bluetooth storage_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow bluetooth storage_file:lnk_file {read};
allow bluetooth sysfs_wake_lock:file {ioctl read write getattr lock append map open};
allow bluetooth tmpfs:lnk_file {read};
allow bluetooth vfat:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow bluetooth vfat:file {ioctl read write create getattr setattr lock append map unlink rename open};
