typeattribute bootanim hal_gpu_client;

allow bootanim debug_prop:property_service {set};
allow bootanim gpu_device:dir {search};
allow bootanim init:unix_stream_socket {connectto};
allow bootanim mediaserver:binder {call transfer};
allow bootanim mediaserver_service:service_manager {find};
allow bootanim property_socket:sock_file {write};
allow bootanim resourcecache_data_file:dir {search};
allow bootanim resourcecache_data_file:file {read getattr open};
allow bootanim resourcecache_data_file:file {read};
allow bootanim surfaceflinger:fifo_file {ioctl read write getattr lock append map open};
