type cmddumper_exec, file_type, exec_type, system_file_type;

init_daemon_domain(cmddumper);

allow cmddumper system_data_file:dir {ioctl read write create getattr setattr lock relabelfrom relabelto rename add_name remove_name reparent search rmdir open};
allow cmddumper system_data_file:fifo_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow cmddumper sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow cmddumper sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow cmddumper init:unix_stream_socket {connectto};
allow cmddumper property_socket:sock_file {read write};
allow cmddumper platform_app:unix_stream_socket {connectto};
allow cmddumper shell_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow cmddumper system_file:file {getattr map execute execute_no_trans};
allow cmddumper media_rw_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow cmddumper media_rw_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow cmddumper file_contexts_file:file {read getattr open};
allow cmddumper debuglog_data_file:dir {ioctl read write create getattr setattr lock relabelto rename add_name remove_name reparent search rmdir open};
allow cmddumper debuglog_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow cmddumper system_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
