typeattribute dumpstate hal_camera_client;

allow dumpstate aee_aed:process {sigchld};
allow dumpstate mobile_log_d:fd {use};
allow dumpstate mobile_log_d:fifo_file {write};
allow dumpstate mobile_log_d:process {sigchld};
allow dumpstate mobile_log_d:unix_stream_socket {read write};
allow dumpstate kmsg_device:chr_file {ioctl read getattr lock map open};
allow dumpstate sysfs_vibrator:file {write};
allow dumpstate fuse:dir {write lock add_name remove_name search open};
allow dumpstate fuse:file {ioctl};
allow dumpstate fuse:file {write create setattr append open};
allow dumpstate debugfs_tracing:file {read write open};
allow dumpstate gpu_device:dir {search};
allow dumpstate hal_camera_hwservice:hwservice_manager {find};
allow dumpstate logcat_exec:file {read getattr map execute entrypoint open};
allow dumpstate mnt_user_file:dir {search};
allow dumpstate mnt_user_file:lnk_file {read};
allow dumpstate self:capability {sys_nice};
allow dumpstate storage_file:lnk_file {read};
