type em_svr_exec, file_type, exec_type, system_file_type;

init_daemon_domain(em_svr);
binder_use(em_svr);
binder_call(em_svr,surfaceflinger);

allow em_svr block_device:dir {search};
allow em_svr sdcardfs:dir {write add_name search};
allow em_svr sdcardfs:file {write create open};
allow em_svr media_rw_data_file:dir {read write add_name search open};
allow em_svr media_rw_data_file:file {write create open};
allow em_svr graphics_device:dir {search};
allow em_svr graphics_device:chr_file {ioctl read write open};
allow em_svr surfaceflinger_service:service_manager {find};
allow em_svr sysfs_leds:dir {search};
allow em_svr self:capability {chown fsetid};
allow em_svr shell_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow em_svr toolbox_exec:file {read getattr execute execute_no_trans open};
allow em_svr sysfs:dir {read open};
allow em_svr sysfs_batteryinfo:dir {search};
allow em_svr sysfs_dt_firmware_android:dir {read search open};
allow em_svr sysfs_dt_firmware_android:file {read getattr open};
