allow init vendor_configs_file:{ dir file } mounton;
allow init vendor_overlay_file:{ dir file } mounton;
allow init mtk_cta_set_prop:property_service {set};
allow init mtk_cta_set_prop:file {read getattr map open};
allow init mtk_rsc_sys_prop:property_service {set};
allow init mtk_rsc_sys_prop:file {read getattr map open};
allow init sysfs_devices_system_cpu:file {relabelfrom};
allow init debugfs_tracing:dir {write};
allow init debugfs_tracing:file {write};
allow init self:capability {sys_module};
allow init system_file:system {module_load};
