type mobile_log_d_exec, file_type, exec_type, system_file_type;

init_daemon_domain(mobile_log_d);

type_transition mobile_log_d logcat_exec:process dumpstate;

allow mobile_log_d kernel:system {syslog_mod};
dontaudit mobile_log_d untrusted_app:fd {use};
dontaudit mobile_log_d isolated_app:fd {use};
allow mobile_log_d property_socket:sock_file {write};
allow mobile_log_d init:unix_stream_socket {connectto};
allow mobile_log_d debug_prop:property_service {set};
allow mobile_log_d debug_prop:file {read getattr map open};
allow mobile_log_d logdr_socket:sock_file {write};
allow mobile_log_d logd:unix_stream_socket {connectto};
allow mobile_log_d self:capability {chown fowner fsetid setgid setuid};
allow mobile_log_d self:capability {chown setgid setuid};
allow mobile_log_d self:capability2 {syslog};
allow mobile_log_d system_file:file {execute_no_trans};
allow mobile_log_d shell_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow mobile_log_d logcat_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow mobile_log_d logcat_exec:file {read getattr map execute open};
allow mobile_log_d dumpstate:process {transition};
dontaudit mobile_log_d dumpstate:process {noatsecure};
allow mobile_log_d dumpstate:process {siginh rlimitinh};
allow mobile_log_d storage_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d storage_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d storage_file:lnk_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d mnt_user_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d mnt_user_file:lnk_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d vfat:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d vfat:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d mnt_media_rw_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d mnt_media_rw_file:lnk_file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d toolbox_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow mobile_log_d rootfs:file {ioctl read getattr lock map open};
allow mobile_log_d device_logging_prop:file {getattr open};
allow mobile_log_d mmc_prop:file {getattr open};
allow mobile_log_d safemode_prop:file {getattr open};
allow mobile_log_d media_rw_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d media_rw_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d debugfs_tracing:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d debugfs_tracing_instances:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow mobile_log_d debugfs_tracing_instances:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d debuglog_data_file:dir {ioctl read write create getattr setattr lock relabelto rename add_name remove_name reparent search rmdir open};
allow mobile_log_d debuglog_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow mobile_log_d mcupm_device:chr_file {ioctl read getattr lock map open};
allow mobile_log_d sysfs_mcupm:file {write lock append map open};
allow mobile_log_d sysfs_mcupm:dir {search};
