type netdiag_exec, file_type, exec_type, system_file_type;

init_daemon_domain(netdiag);
binder_use(netdiag);

allow netdiag sdcard_type:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow netdiag sdcard_type:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow netdiag domain:dir {search};
allow netdiag domain:file {read open};
allow netdiag net_data_file:file {ioctl read getattr lock map open};
allow netdiag net_data_file:dir {search};
allow netdiag storage_file:dir {search};
allow netdiag storage_file:lnk_file {read};
allow netdiag mnt_user_file:dir {search};
allow netdiag mnt_user_file:lnk_file {read};
allow netdiag platform_app:dir {search};
allow netdiag untrusted_app:dir {search};
allow netdiag mnt_media_rw_file:dir {search};
allow netdiag vfat:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow netdiag vfat:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow netdiag tmpfs:lnk_file {read};
allow netdiag system_file:file {ioctl read getattr lock map execute execute_no_trans open};
allow netdiag self:capability {setgid setuid net_admin net_raw};
allow netdiag shell_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow netdiag proc_net:file {ioctl read getattr lock map open};
allow netdiag dnsproxyd_socket:sock_file {write};
allow netdiag fwmarkd_socket:sock_file {write};
allow netdiag netd:unix_stream_socket {connectto};
allow netdiag self:udp_socket {connect};
allow netdiag connectivity_service:service_manager {find};
allow netdiag netstats_service:service_manager {find};
allow netdiag system_server:binder {call};
allow netdiag connmetrics_service:service_manager {find};
allow netdiag netpolicy_service:service_manager {find};
allow netdiag network_management_service:service_manager {find};
allow netdiag settings_service:service_manager {find};
allow netdiag device_logging_prop:file {getattr open};
allow netdiag mmc_prop:file {getattr open};
allow netdiag proc_net:dir {read open};
allow netdiag safemode_prop:file {getattr open};
allow netdiag toolbox_exec:file {ioctl read getattr lock map execute execute_no_trans open};
allow netdiag media_rw_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow netdiag media_rw_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow netdiag self:netlink_xfrm_socket {read write create getattr bind setopt nlmsg_read};
allow netdiag self:packet_socket {read create getopt setopt};
allowxperm netdiag self:packet_socket ioctl {0x8906 0x8933};
allow netdiag self:packet_socket {ioctl write map};
allow netdiag self:netlink_route_socket {read write create getattr bind setopt nlmsg_read};
allow netdiag kernel:system {module_request};
allow netdiag self:rawip_socket {create getopt};
allow netdiag self:udp_socket {ioctl create};
allow netdiag proc_qtaguid_stat:dir {read search open};
allow netdiag proc_qtaguid_stat:file {read getattr open};
allow netdiag vendor_default_prop:file {read getattr map open};
allow netdiag proc_net_tcp_udp:file {getattr};
allow netdiag netd:binder {call};
allow netdiag apexd_prop:file {read getattr map open};
allow netdiag debuglog_data_file:dir {ioctl read write create getattr setattr lock relabelto rename add_name remove_name reparent search rmdir open};
allow netdiag debuglog_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow netdiag servicemanager:binder {call};
