typeattribute platform_app hal_power_client;
typeattribute platform_app hal_gpu_client;

allow platform_app aal_service:service_manager {find};
allow platform_app debuglog_data_file:dir {ioctl read write create getattr setattr lock rename add_name remove_name reparent search rmdir open};
allow platform_app debuglog_data_file:file {ioctl read write create getattr setattr lock append map unlink rename open};
allow platform_app mtk_cta_set_prop:file {read getattr map open};
allow platform_app mtk_rsc_sys_prop:file {read getattr map open};
allow platform_app camerapostalgo_service:service_manager {find};
allow platform_app system_app_data_file:file {read write};
allow platform_app system_app_service:service_manager {find};
allow platform_app ctl_campostalgo_prop:file {read getattr map open};
allow platform_app ctl_campostalgo_prop:property_service {set};
allow platform_app mtk_connmetrics_service:service_manager {find};
allow platform_app proc_cl_cam_status:file {ioctl read getattr lock map open};
allow platform_app system_app_data_file:file {read write};
allow platform_app system_app_service:service_manager {find};
