allow radio ppl_agent_service:service_manager {find};
allow radio ctl_atcid-daemon-u_prop:property_service {set};
allow radio ctl_atcid-daemon-u_prop:file {read getattr map open};
allow radio ctl_atci_service_prop:property_service {set};
allow radio ctl_atci_service_prop:file {read getattr map open};
allow radio mtk_atci_sys_prop:property_service {set};
allow radio mtk_atci_sys_prop:file {read getattr map open};
allow radio sysfs_portmode:file {ioctl read getattr lock map open};
allow radio sysfs_android0_usb:dir {search};
allow radio sysfs_android0_usb:file {ioctl read getattr lock map open};
allow radio sysfs_android_usb:dir {search};
allow radio sysfs_android_usb:file {ioctl read getattr lock map open};
allow radio mtk_aal_prop:property_service {set};
allow radio mtk_aal_prop:file {read getattr map open};
allow radio aal_service:service_manager {find};
allow radio mtk_cta_set_prop:file {read getattr map open};
allow radio mtk_rsc_sys_prop:file {read getattr map open};
allow radio init_svc_md_monitor_prop:file {read getattr map open};
allow radio sysfs_musb_hdrc:dir {search};
allow radio sysfs_musb_hdrc:file {ioctl read getattr lock map open};
allow radio mtk_dmc_prop:file {read getattr map open};
