allow system_app mtk_aal_prop:file {read getattr map open};
allow system_app aee_aed:unix_stream_socket {connectto};
allow system_app mtk_atci_sys_prop:property_service {set};
allow system_app mtk_atci_sys_prop:file {read getattr map open};
allow system_app init_svc_md_monitor_prop:file {read getattr map open};
allow system_app mtk_cta_set_prop:file {read getattr map open};
allow system_app mtk_rsc_sys_prop:file {read getattr map open};
allow system_app agui_network_manager_prop:file {read getattr map open};
allow system_app agui_network_manager_prop:property_service {set};
allow system_app config_prop:file {read getattr map open};
allow system_app config_prop:property_service {set};
allow system_app media_rw_data_file:dir {ioctl read write getattr lock add_name remove_name search open};
allow system_app media_rw_data_file:file {ioctl read write getattr lock append map open};
allow system_app mtk_permission_control_prop:file {read getattr map open};
allow system_app mtk_permission_control_prop:property_service {set};
allow system_app net_dns_prop:file {read getattr map open};
allow system_app net_dns_prop:property_service {set};
allow system_app system_data_file:dir {read open};
allow system_app vfat:dir {create};
