allow system_server aal_service:service_manager {find};
allow system_server aee_aed:fifo_file {write lock append map open};
allow system_server aee_aed:fd {use};
allow system_server aee_aed:unix_stream_socket {connectto};
allow system_server mddb_filter_data_file:dir {getattr};
allow system_server mtk_rsc_sys_prop:file {read getattr map open};
allow system_server netdiag:fd {use};
allow system_server mtk_autoboot_service:service_manager {add};
allow system_server mtk_connmetrics_service:service_manager {add};
allow system_server mtk_permrecords_service:service_manager {add};
allow system_server ota_package_file:dir {getattr};
allow system_server proc_loadavg:file {ioctl read getattr lock map open};
dontaudit system_server appdomain:file {write lock append map open};
