type terservice_exec, file_type, exec_type, system_file_type;
type terservice_prop, property_type, extended_core_property_type;
type terservice_service, service_manager_type;

init_daemon_domain(terservice);
binder_use(terservice);

allow terservice terservice_service:service_manager {add};
allow terservice property_socket:sock_file {write};
allow terservice init:unix_stream_socket {connectto};
allow terservice terservice_prop:property_service {set};
allow terservice terservice_prop:file {read getattr map open};
